body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #333;
}
span{
    margin-bottom: 5px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 10px;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #0056b3;
}

.menu-item i {
    font-size: 2em;
    margin-bottom: 10px;
}

.logout-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c82333;
}
